
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>School Finder</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/styles.css" />

</head>

<body>
	<!-- <div class="top-red-bar">
    <div class="container">
      <h1 class="navbar-brand navbar-brand_"> <A href="index.html"><img alt="" src="images/ati-logo.png"></A> </h1>
      
        <div class="head-rt move-right">
        	<ul>
            	<li><A href="login-admin.html">Admin Login</A></li>
                <li><A href="login-school.html">School Login</A></li>
            </ul>
        </div>
      
    </div>
  </div> -->
   <!-- 
   
   
    
    -->
	<div class="school-list">
    	
    	<div class="school-row">
            <div class="left-col">Anacostia Senior High School</div>
            <div class="right-col">
            	1601 16th Street Southeast[1]
District of Columbia, DC 20020
United States
				<a href="gen-view-school.html" class="view">View</a>
            </div>
            
        </div>
        
        <div class="school-row odd">
            <div class="left-col">John Carroll Catholic High School</div>
            <div class="right-col">
            	300 Lakeshore Pkwy, Birmingham, AL 35209, USA
                
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        
        <div class="school-row">
            <div class="left-col">Ramsay High Schoo</div>
            <div class="right-col">
            	1800 13th Ave S, Birmingham, AL 35205, USA
Phone:+1 205-231-7000

<a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        
        <div class="school-row odd">
            <div class="left-col">Mountain Brook High School</div>
            <div class="right-col">
            	33650 Bethune Dr, Mountain Brook, AL 35223, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row">
            <div class="left-col">Mountain Brook High School</div>
            <div class="right-col">
            	33650 Bethune Dr, Mountain Brook, AL 35223, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row odd">
            <div class="left-col">Paul Mitchell The School Birmingham</div>
            <div class="right-col">
            	Centre at Riverchase Shopping Ctr, 1694 Montgomery Hwy #124, Hoover, AL 35126, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row">
            <div class="left-col">Oxford High School</div>
            <div class="right-col">
            	1 Yellow Jacket Dr, Oxford, AL 36203, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row odd">
            <div class="left-col">Central High School East Campus</div>
            <div class="right-col">
            	905 15th St, Tuscaloosa, AL 35401, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row">
            <div class="left-col">Brooks High School</div>
            <div class="right-col">
            	4300 US-72, Killen, AL 35645, USA
Phone:+1 256-757-2115
<a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row odd">
            <div class="left-col">Hoover High School</div>
            <div class="right-col">
            	1000 Buccaneer Dr, Hoover, AL 35244, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row">
            <div class="left-col">Bob Jones High School</div>
            <div class="right-col">
            	650 Hughes Rd, Madison, AL 35758, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row odd">
            <div class="left-col">Auburn High School</div>
            <div class="right-col">
            	405 S Dean Rd, Auburn, AL 36830, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row">
            <div class="left-col">Huntsville High School</div>
            <div class="right-col">
            	42304 Billie Watkins St SW, Huntsville, AL 35801, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        <div class="school-row odd">
            <div class="left-col">Enterprise High School</div>
            <div class="right-col">
            	1801 Boll Weevil Cir, Enterprise, AL 36330, USA
                <a href="gen-view-school.html" class="view">View</a>
            </div>
        </div>
        
        
    </div>
</body>
</html>
